#display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    height: 50vh;
    width: 50vw;
    margin: 10px auto;
}
#diceOutput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 10%;
    box-shadow: 3px 3px gray;

}

button{
    width: 100px;
    margin: 3px auto;
    background-color: cadetblue;
    border-radius: 4px;
    box-shadow: 2px 2px black;
}